
node_modules/

/dist/
/.env
/.vitepress/cache/
/.vitepress/.temp/

/podcast/audio.*
/podcast/image.*
/podcast/*.mp4
/podcast/video_bg.png
/podcast/episodes/

/book/shared/


# Anywhere (especially for i18n)
resources_processed.json
conversations_processed.json
corinthians_processed.json
